/* CSS */

.widget-name h2 {
    font-size: 12px;
  }
  
  .widget-name[min-width~="400px"] h2 {
    font-size: 18px;
  }
  
  .widget-name[min-width~="600px"] h2 {
    padding: 55px;
    text-align: center;
    font-size: 24px;
  }
  
  .widget-name[min-width~="700px"] h2 {
    font-size: 34px;
    color: red;
  }
  