<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      a {
          color: blue;
      }

      a.transition {
          transition: .5s ease in;
      }

      a.hover {
          color: red;
      }
    </style>
   </head>
   <body>
     <a href="#">Check in</a><br>
     <a href="#" class="transition">Transitioned</a>
   </body>
</html>